# Run daily backup of all Docker Volumes at 08:00
0 8 * * * root /app/backup-volumes.sh > /proc/1/fd/1

# Run deletion of old Docker Volume backups
0 9 * * * root /app/purge-volumes.sh > /proc/1/fd/1
